<div id="mg-newsl-confirmDelContenu" title="<bx_text:_mg_newsl_confirmDelContenu />">
    <table class="popup_form_wrapper">
        <tr>
                <td class="corner"><img src="<bx_image_url:op_cor_tl.png />" alt="" /></td>
                <td class="side_ver"><img src="<bx_image_url:spacer.gif />" alt="" /></td>
                <td class="corner"><img src="<bx_image_url:op_cor_tr.png />" alt="" /></td>
        </tr>
        <tr>
                <td class="side"><img src="<bx_image_url:spacer.gif />" alt="" /></td>
                <td class="container">
                    <div class="adm-design-box">
                        <div class="adm-db-head">
                            <bx_text:_mg_newsl_confirmDelContenu />
                            <div class="dbTopMenu">
                            </div>
                        </div>
                        <div class="adm-db-content">
                            <div class="adm-db-content-wrapper">
                                <div id="mg-newsl-confirmDelContenu-content">
                                    <iframe name="mg-newsl-confirmDelContenu-iframe" class="hidden"></iframe>
                                    <input id="idContenu" type="hidden" />
                                    <input id="ok" type="button" value="Ok">
                                    <input id="cancel" type="button" value="Cancel">
                                </div>
                            </div>
                        </div>                	
                    </div>                    
                </td>
                <td class="side"><img src="<bx_image_url:spacer.gif />" alt="" /></td>
        </tr>
        <tr>
                <td class="corner"><img src="<bx_image_url:op_cor_bl.png />" alt="" /></td>
                <td class="side_ver"><img src="<bx_image_url:spacer.gif />" alt="" /></td>
                <td class="corner"><img src="<bx_image_url:op_cor_br.png />" onload="if( navigator.appName == 'Microsoft Internet Explorer' && window.version && version >= 5.5 && version < 7 ) png_fix();" alt="" /></td>
        </tr>
    </table>
</div>
